$min-contrast-ratio: 4;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$warning: #a50;
$success: #0a5;
$danger: #a22;
$primary: #315;
$info: #05a;
$offcanvas-horizontal-width: 500px;

$transition-collapse: height 0.2s !default;
